@page
@using SpiceStoreExample.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br />
<h2 class="text-info">Create a New Account</h2>


<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="border backgroundWhite">
        <!--for validation message displaying-->
        <!--User name-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Name" class="form-control" />
            </div>
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>

        <!--User email-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Email" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <!--Phone number-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.PhoneNumber" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>

        <!--Street Address-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.StreetAddress" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.StreetAddress" class="form-control" />
            </div>
            <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
        </div>

        <!--City-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.City" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.City" class="form-control" />
            </div>
            <span asp-validation-for="Input.City" class="text-danger"></span>
        </div>

        <!--State-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.State" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.State" class="form-control" />
            </div>
            <span asp-validation-for="Input.State" class="text-danger"></span>
        </div>

        <!--Postal code-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.PostalCode" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.PostalCode" class="form-control" />
            </div>
            <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
        </div>

        <!--Password-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Password" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <!--Password confirmation-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <!--Role selection-->
        @if (User.IsInRole(Consts.ManagerUser))
        {
            <div class="form-group row">
                <div class="col-2">
                    
                </div>
                <div class="col-5">
                    <input type="radio" name="rdUserRole" value="@Consts.KitchenUser" checked />@Consts.KitchenUser
                    <input type="radio" name="rdUserRole" value="@Consts.FrontDeskUser" />@Consts.FrontDeskUser
                    <input type="radio" name="rdUserRole" value="@Consts.ManagerUser" />@Consts.ManagerUser
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        }

        <div class="form-group row">
            <div class="col-5 offset-2">
                <button type="submit" class="btn btn-primary form-control">Register</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
